.container_service-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
  justify-content: center;
}

.service-content {
  position: relative;
  width: 300px; /* Ajusta según sea necesario */
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
}

.service-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); /* Negro con transparencia */
  color: white;
  padding: 10px;
  text-align: center;
}

.Precio_duracion {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.reserve-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #e1e1e1;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.reserve-button:hover {
  background-color: #b6b6b6;
}

#main_section, #secondary_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; /* Espacio entre columnas */
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

h2{
  text-align: center;
}
