<div id="container">
  <common_page-component>
    <main>
      <h2 class="Servicios">Servicios más populares</h2>
      <div id="main_section">
        <div class="container_service-card">
          <div class="service-content" *ngFor="let services of primary_services">
            <img src="{{services.image}}">
            <div class="service-text">
              <h2>{{services.title}}</h2>
              <p>{{services.price_euro}}€ {{services.duration_minutes}}min</p>
            </div>
            <button class="reserve-button">Reservar</button>
          </div>
        </div>
      </div>
      <h2 class="Servicios">Otros servicios</h2>
      <div id="secondary_section">
        <div class="container_service-card">
          <div class="service-content" *ngFor="let services of secondary_services">
            <img src="{{services.image}}">
            <div class="service-text">
              <h2>{{services.title}}</h2>
              <p>{{services.price_euro}}€ {{services.duration_minutes}}min</p>
            </div>
            <button class="reserve-button">Reservar</button>
          </div>
        </div>
      </div>
    </main>
  </common_page-component>
</div>
