<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../common_html/contentLoader.js"></script>
    <script src="../../common_html/menu.js"></script>
    <!-- Inter Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    >

    <link rel="stylesheet" href="../../styles/light-theme.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="../../styles/dark-theme.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/review-page.css">
    <title>Reseñas de Usuarios</title>
</head>
<body>
<div id="menu" xlu-include-file="../../common_html/menu.html"></div>
<header xlu-include-file="../../common_html/header.html"></header>
<nav id="nav" xlu-include-file="../../common_html/nav.html"></nav>
<div class="central-section" id="main" xlu-include-file="./main.html"></div>
<div class="central-section" id="secondary" xlu-include-file="./secondary.html"></div>

<footer id="foot" xlu-include-file="../../common_html/footer.html"></footer>
<script>
    xLuIncludeFile()
    toggleMenu()
</script>
</body>
</html>