body {
    overflow-x: hidden;
}

.text-section-title-heading {
    color: var(--text-fg1-color);
    margin: 10px 0 20px 0;
    font-size: 36px;
    font-weight: bold;
}

.text-section-subtitle-heading {
    color: var(--text-fg1-color);
    margin: 10px 0 20px 0;
    font-size: 20px;
    font-weight: normal;
}

#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#botones {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
    display: flex;
    gap: 35px;
    padding-top: 30px;
    padding-right: 30px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
    line-height: 24px;
}

h3 {
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
}
