<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../common_html/contentLoader.js"></script>
    <script src="../../common_html/menu.js"></script>
    <link rel="stylesheet" href="../../styles/portfolio.css">
    <link rel="stylesheet" href="../../styles/common.css">
</head>
<body>
<div id="container">
    <header xlu-include-file="../../common_html/header.html">

    </header>

    <nav id="nav" xlu-include-file="../../common_html/nav.html">

    </nav>

    <div id="menu" xlu-include-file="../../common_html/menu.html" >

    </div>

    <div id="title1" xlu-include-file="title1.html">

    </div>

    <div id="main_section" xlu-include-file="main.html">

    </div>

    <div id="title2" xlu-include-file="title2.html">

    </div>

    <div id="secondary_section" xlu-include-file="secondary.html">

    </div>

    <footer id="foot" xlu-include-file="../../common_html/footer.html">

    </footer>
</div>

<script>
    xLuIncludeFile()
    toggleMenu()
</script>

</body>
</html>