<div class="grid-container">
    <img src="https://media.tycsports.com/files/2024/11/12/786333/corte-de-pelo_862x485.webp" alt="Corte hombre 1">
    <img src="https://media.tycsports.com/files/2024/11/12/786333/corte-de-pelo_862x485.webp" alt="Corte hombre 2">
    <img src="https://media.tycsports.com/files/2024/11/12/786333/corte-de-pelo_862x485.webp" alt="Corte hombre 3">
    <img src="https://media.tycsports.com/files/2024/11/12/786333/corte-de-pelo_862x485.webp" alt="Corte hombre 4">
    <img src="https://media.tycsports.com/files/2024/11/12/786333/corte-de-pelo_862x485.webp" alt="Corte hombre 5">
    <img src="https://media.tycsports.com/files/2024/11/12/786333/corte-de-pelo_862x485.webp" alt="Corte hombre 6">
</div>