/* You can add global styles to this file, and also import other style files */
:root {
  --central-section-max-width: 1000px;
  font-optical-sizing: auto;

  color: var(--text-fg1-color);
  font-family: Inter, Helvetica, 'Noto Sans', Arial, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-fg1-color);

  font-family: Inter, sans-serif;
  margin: 0;
}

a {
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-color-hover);
}

button {
  color: var(--text-fg2-color);
  background-color: var(--button-bg2-color);
  border-color: var(--button-bg2-color);
  border-radius: 10px;
  border-width: 3px;
  padding: 10px;
  text-align: center;
  border-style: solid;
}

button:hover {
  color: var(--text-button-hover);
  background-color: var(--button-bg1-color, #333);
  border-color: var(--accent-color);
}
