:root {
    --background-color: #222;
    --text-fg1-color: #f4f4f4;
    --text-fg2-color: #101010;
    --text-button-hover: var(--text-fg2-color);
    --button-bg1-color: #ccc;
    --button-bg2-color: #eeeeee;
    --card-bg1-color: #333;
    --input-bg1-color: var(--card-bg1-color);
    --input-fg1-color: var(--text-fg1-color);
    --input-fg2-color: #ddd;
    --accent-color: #869ce4;
    --accent-color-hover: #5e70bd;
}
