<common_page-component>
  <main class="booking-container">
    <h1>Reserva una cita con uno de nuestros peluqueros:</h1>

    <div id="peluqueros">
      <div class="peluquero" (click)="seleccionarPeluquero('1')">
        <img src="/assets/Images/avatar.png" alt="Peluquero 1"> <span>Peluquero 1</span>
      </div>
      <div class="peluquero" (click)="seleccionarPeluquero('2')">
        <img src="/assets/Images/avatar.png" alt="Peluquero 2"> <span>Peluquero 2</span>
      </div>
      <div class="peluquero" (click)="seleccionarPeluquero('3')">
        <img src="/assets/Images/avatar.png" alt="Peluquero 3"> <span>Peluquero 3</span>
      </div>
    </div>
    <div #peluqueroSeleccionado class="highlight">Selecciona un peluquero</div>

    <div class="section">
      <input type="date" id="fecha" (change)="cargarHoras($event)">
      <div #fechaSeleccionada class="highlight">Selecciona una fecha</div>

    </div>

    <div class="hours" #horas></div>

    <div class="button-container">
      <button (click)="confirmarReserva()">Reservar</button>
    </div>
  </main>
</common_page-component>
