:host {
  --graph-spacing: 20px;
  --review-graph-max-width: 300px;
  --element-spacing: 10px;
}

.half {
  width: 50%;
}

.graph-info {
  margin-right: var(--graph-spacing);
  gap: 0;

  display: flex;
  flex-direction: column;
  align-items: end;
}

.graph-info div {
  gap: var(--element-spacing);

  display: flex;
  flex-direction: column;
  align-items: start;
}

.graph {
  margin-right: var(--graph-spacing);
  max-width: var(--review-graph-max-width);
}

.reviews-graph {
  margin: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
