<!DOCTYPE html>
<head>
<title>OpenSource Online Magazine with Images</title>

<script type="text/javascript" src=""></script>
<link href="home-style.css" rel="stylesheet">


</head>

<body>
<a name="top"></a><!--anchor for top-->
<div id="container"><!--container goes here-->
    <div id="header">
        <div id="botones">
            <button class="botones_ini_reg" id="iniciar_sesion">Iniciar sesión</button>
            <button class="botones_ini_reg" id="registrarse">Registrarse</button> 
        </div>
    </div><!--//header-->

<nav>
    <a href="home_completo.html">Servicios</a>
    <a href="reseñas.html">Reseñas</a>
    <a href="portafolio.html">Portafolio</a>
    <a href="detalles.html">Detalles</a>
</nav>

<div class="Servicios">
    <h2>Servicios más populares</h2>
</div>

<div class="container_service-card">
    <div class="service-content">
        <p id="Corte_degradado">Corte degradago</p>
        <p class="Precio_duracion">13€ 30min</p>
        <button class="reserve-button">Reservar</button>
    </div> <!-- end service-content -->

    <div class="service-content">
        <p id="Corte_degradado_barba">Corte degradado + barba</p>
        <p class="Precio_duracion">18€ 40min</p>
        <button class="reserve-button">Reservar</button>
    </div> <!-- end service-content -->

    <div class="service-content">
        <p id="tinte">tinte</p>
        <p class="Precio_duracion">18€ 40min</p>
        <button class="reserve-button">Reservar</button>
    </div> <!-- end service-content -->

    <div class="service-content">
        <p id="Cortar puntas">Cortar puntas</p>
        <p class="Precio_duracion">12€ 35min</p>
        <button class="reserve-button">Reservar</button>
    </div> <!-- end service-content -->

</div> <!-- end container3 -->

<div class="Servicios">
    <h2> Otros Servicios</h2>
</div>

<div class="container_service-card">
    <div class="service-content">
        <p id="Perfilar_barba">Perfilar barba</p>
        <p class="Precio_duracion">13€ 30min</p>
        <button class="reserve-button">Reservar</button>
    </div> <!-- end service-content -->

    <div class="service-content">
        <p id="Corte_pixie">Corte pixie</p>
        <p class="Precio_duracion">20€ 45min</p>
        <button class="reserve-button">Reservar</button>
    </div> <!-- end service-content -->

    <div class="service-content">
        <p id="Corte_mullet">Corte mullet</p>
        <p class="Precio_duracion">15€ 35min</p>
        <button class="reserve-button">Reservar</button>
    </div> <!-- end service-content -->
</div>


</div> <!-- end container -->

</body>

</html>
