<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicia Sesión</title>
</head>
<body>
    <div class="central-section">
        <form action="/SI" method="post">
            <h1>Crea tu cuenta</h1>
            <p>Ingresa tus datos para continuar</p>
            <div class="form-field">
                <label for="name">Nombre del usuario</label>
                <input type="text" name="" id="">
            </div>
            <label>
                <p>Nombre del usuario</p>
                <input type="text">
            </label>
        </form>
    </div>
</body>
</html>