<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="portafolio.css">
</head>

<body>
<div id="container">
    <header id="header">
        <div id="botones">
            <a href="login.html" class="boton" id="iniciar_sesion">Iniciar sesión</a>
            <a href="register.html" class="boton" id="registrarse">Registrarse</a>
        </div>
    </header>

    <nav>
        <a href="home_completo.html">Servicios</a>
        <a href="reseñas.html">Reseñas</a>
        <a href="portafolio.html">Portafolio</a>
        <a href="detalles.html">Detalles</a>
    </nav>

    <section class="portafolio">
        <h2>Cortes de cabello para hombre</h2>
        <div class="grid-container">
            <img src="https://media.tycsports.com/files/2024/11/12/786333/corte-de-pelo_862x485.webp" alt="Corte hombre 1">
            <img src="https://media.tycsports.com/files/2024/11/12/786333/corte-de-pelo_862x485.webp" alt="Corte hombre 2">
            <img src="https://media.tycsports.com/files/2024/11/12/786333/corte-de-pelo_862x485.webp" alt="Corte hombre 3">
            <img src="https://media.tycsports.com/files/2024/11/12/786333/corte-de-pelo_862x485.webp" alt="Corte hombre 4">
            <img src="https://media.tycsports.com/files/2024/11/12/786333/corte-de-pelo_862x485.webp" alt="Corte hombre 5">
            <img src="https://media.tycsports.com/files/2024/11/12/786333/corte-de-pelo_862x485.webp" alt="Corte hombre 6">
        </div>

        <h2>Cortes de cabello para mujer</h2>
        <div class="grid-container">
            <img src="https://i.ytimg.com/vi/C2Vnw5vkju0/maxresdefault.jpg" alt="Corte mujer 1">
            <img src="https://i.ytimg.com/vi/C2Vnw5vkju0/maxresdefault.jpg" alt="Corte mujer 2">
            <img src="https://i.ytimg.com/vi/C2Vnw5vkju0/maxresdefault.jpg" alt="Corte mujer 3">
            <img src="https://i.ytimg.com/vi/C2Vnw5vkju0/maxresdefault.jpg" alt="Corte mujer 4">
            <img src="https://i.ytimg.com/vi/C2Vnw5vkju0/maxresdefault.jpg" alt="Corte mujer 5">
            <img src="https://i.ytimg.com/vi/C2Vnw5vkju0/maxresdefault.jpg" alt="Corte mujer 6">
        </div>
    </section>
</div>
</body>
</html>
