<head>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/light-theme.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="../styles/dark-theme.css" media="(prefers-color-scheme: dark)">
</head>
<body style="background-color: var(--background-color)">
    <article class="service-card">
        <section class="service-title">Corte Degradado</section>
        <div class="service-content">
            <div class="part-service-content">
                <div>13,00€</div>
                <div>30 minutos</div>
            </div>
            <div class="reserve-button">Reservar</div>
        </div>
    </article>
</body>