<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/home-style.css">
    <title>Servicios Peluquería</title>
</head>
<body>
<div id="container">
    <header>
        <div id="botones">
            <button class="botones_ini_reg" id="iniciar_sesion">Iniciar sesión</button>
            <button class="botones_ini_reg" id="registrarse">Registrarse</button>
        </div>
    </header>

    <nav>
        <a href="home_completo.html">Servicios</a>
        <a href="reseñas.html">Reseñas</a>
        <a href="portafolio.html">Portafolio</a>
        <a href="detalles.html">Detalles</a>
    </nav>

    <div class="Servicios">
        <h2>Servicios más populares</h2>
    </div>

    <div class="container_service-card">
        <div class="service-content">
            <p id="Corte_degradado">Corte degradago</p>
            <p class="Precio_duracion">13&euro; 30min</p>
            <button class="reserve-button">Reservar</button>
        </div>

        <div class="service-content">
            <p id="Corte_degradado_barba">Corte degradado + barba</p>
            <p class="Precio_duracion">18&euro; 40min</p>
            <button class="reserve-button">Reservar</button>
        </div>

        <div class="service-content">
            <p id="tinte">Tinte</p>
            <p class="Precio_duracion">18&euro; 40min</p>
            <button class="reserve-button">Reservar</button>
        </div>

        <div class="service-content">
            <p id="Cortar puntas">Cortar puntas</p>
            <p class="Precio_duracion">12&euro; 35min</p>
            <button class="reserve-button">Reservar</button>
        </div>

        <div class="service-content">
            <p id="Alisado de keratina">Alisado de keratina</p>
            <p class="Precio_duracion">30&euro; 50min</p>
            <button class="reserve-button">Reservar</button>
        </div>

        <div class="service-content">
            <p id="Mechas">Mechas</p>
            <p class="Precio_duracion">10&euro; 30min</p>
            <button class="reserve-button">Reservar</button>
        </div>
    </div>

    <div class="Servicios">
        <h2> Otros Servicios</h2>
    </div>

    <div class="container_service-card">
        <div class="service-content">
            <p id="Perfilar_barba">Perfilar barba</p>
            <p class="Precio_duracion">13&euro; 30min</p>
            <button class="reserve-button">Reservar</button>
        </div>

        <div class="service-content">
            <p id="Corte_pixie">Corte pixie</p>
            <p class="Precio_duracion">20&euro; 45min</p>
            <button class="reserve-button">Reservar</button>
        </div>

        <div class="service-content">
            <p id="Corte_mullet">Corte mullet</p>
            <p class="Precio_duracion">15&euro; 35min</p>
            <button class="reserve-button">Reservar</button>
        </div>
    </div>
</div>
<footer>
    <div id="foot">
        <img src="../Images/Logo.webp">
    </div>
</footer>
</body>
</html>
