<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="home.js"></script>
    <link rel="stylesheet" href="../../styles/home-style.css">
</head>
<body>
    <div id="container">
        <header xlu-include-file="header.html">

        </header>

        <nav id="nav" xlu-include-file="nav.html">

        </nav>

        <div id="title1" xlu-include-file="title1.html">

        </div>

        <div id="main_section" xlu-include-file="main.html">

        </div>

        <div id="title2" xlu-include-file="title2.html">

        </div>

        <div id="secundary_section" xlu-include-file="secundary.html">

        </div>

        <footer id="foot" xlu-include-file="footer.html">

        </footer>
    </div>

<script>
    xLuIncludeFile()
</script>

</body>
</html>