<div class="container_service-card">
    <div class="service-content">
        <p id="Corte_degradado">Corte degradado</p>
        <p class="Precio_duracion">13&euro; 30min</p>
        <button class="reserve-button">Reservar</button>
    </div>

    <div class="service-content">
        <p id="Corte_degradado_barba">Corte degradado + barba</p>
        <p class="Precio_duracion">18&euro; 40min</p>
        <button class="reserve-button">Reservar</button>
    </div>

    <div class="service-content">
        <p id="tinte">Tinte</p>
        <p class="Precio_duracion">18&euro; 40min</p>
        <button class="reserve-button">Reservar</button>
    </div>

    <div class="service-content">
        <p id="Cortar puntas">Cortar puntas</p>
        <p class="Precio_duracion">12&euro; 35min</p>
        <button class="reserve-button">Reservar</button>
    </div>

    <div class="service-content">
        <p id="Alisado de keratina">Alisado de keratina</p>
        <p class="Precio_duracion">30&euro; 50min</p>
        <button class="reserve-button">Reservar</button>
    </div>

    <div class="service-content">
        <p id="Mechas">Mechas</p>
        <p class="Precio_duracion">10&euro; 30min</p>
        <button class="reserve-button">Reservar</button>
    </div>
</div>