<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
    <link rel="stylesheet" href="../../styles/light-theme.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="../../styles/dark-theme.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/home-style.css">
</head>
<body>
<div id="container">
    <header id="header">
    </header>

    <nav id="nav">
    </nav>

    <main>

    <h2 class="Servicios">Servicios más populares</h2>
    <div id="main_section"></div>

    <h2 class="Servicios">Otros servicios</h2>
    <div id="secondary_section"></div>

    </main>

    <footer id="foot">

    </footer>

    <div id="menu">

    </div>
</div>

<script src="../../../../js/contentLoader.js"></script>
<script src="../../../../js/menu.js"></script>
<script src="../../../../js/home.js"></script>
<script src="../../../../js/common.js"></script>
<script> toggleMenu() </script>

</body>
</html>