<div id="header">
  <!--
  <video autoplay muted loop playsinline [muted]="true" id="video-fondo">
    <source src="/assets/Videos/video_header.mp4" type="video/mp4">
    Tu navegador no soporta video HTML5.
  </video>
  -->

  <div id="botones">
    <button id="iniciar_sesion" onclick="window.location.href='log-in';">Iniciar
      sesión
    </button>
    <button id="registrarse" onclick="window.location.href='sign-up';">Registrarse
    </button>
    <div class="profile-pic">
      <img src="/assets/Images/profile.png" (click)="toggleMenu()" alt="Foto de perfil">
    </div>
  </div>
  <menu-component></menu-component>
</div>
