:root {
    font-family: Inter, Helvetica, 'Noto Sans', Arial, sans-serif;
    font-optical-sizing: auto;
    --button-border-radius: 10px;
}

body {
    background-color: var(--background-color);
    margin: 0;
    overflow-x: hidden;
}

a {
    color: var(--accent-color);
}

a:hover {
    color: var(--accent-color-hover);
}

button {
    color: var(--text-fg2-color);
    background-color: var(--button-bg2-color);
    border-radius: var(--button-border-radius);
    padding: 10px;
    text-align: center;
}

/*
.botones_ini_reg {
    display: flex;
    padding: 8px 15px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
}*/

.text-section-title-heading {
    color: var(--text-fg1-color);
    margin: 10px 0 20px 0;
    font-size: 36px;
    font-weight: bold;
}

.text-section-subtitle-heading {
    color: var(--text-fg1-color);
    margin: 10px 0 20px 0;
    font-size: 20px;
    font-weight: normal;
}

#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#botones {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
    display: flex;
    gap: 35px;
    padding-top: 30px;
    padding-right: 30px;
}

#iniciar_sesion {
    color: white;
    background-color: black;
    cursor: pointer;
}

#registrarse {
    color: black;
    background-color: #CFCFCF;
    cursor: pointer;
}

.profile-pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 30px;
    font-size: 25px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    background-color: #CDCECF;
    border-radius: 5px;
}

/*
h1, h4 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2, h3 {
    font-family: Georgia, Times, serif;
}
*/

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
    line-height: 24px;
}

h3 {
    font-size: 18px;
}

#header {
    height: 250px;
    width: 100%;
    background: url("../html/Images/Header.jpg") no-repeat center center;
    background-size: cover;
}

.menu-container {
    width: 300px;
    height: 100vh;
    background-color: #949393;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px 0 0;
    position: absolute; /* Mantiene el menú en posición absoluta */
    top: 0;
    right: -400px; /* Fuera de la vista inicialmente */
    transition: right 0.3s; /* Transición suave */
}

.menu-container.active {
    right: 0; /* Mostrar menú al activar */
}

.perfil {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.perfil img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
}

.menu-item {
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s;
}

.menu-item:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

footer {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg1-color, #CDCECF);
    margin-top: 50px;
}

footer img {
    width: 150px;
    height: auto;
}