:root {
    font-family: Inter, Helvetica, 'Noto Sans', Arial, sans-serif;
    font-optical-sizing: auto;
    --button-border-radius: 10px;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

a {
    color: var(--accent-color);
}

a:hover {
    color: var(--accent-color-hover);
}

button {
    color: var(--text-fg2-color);
    background-color: var(--button-bg2-color);
    border-radius: var(--button-border-radius);
    padding: 10px;
    text-align: center;
}

.text-section-title-heading {
    color: var(--text-fg1-color);
    margin: 10px 0 20px 0;
    font-size: 36px;
    font-weight: bold;
}

.text-section-subtitle-heading {
    color: var(--text-fg1-color);
    margin: 10px 0 20px 0;
    font-size: 20px;
    font-weight: normal;
}