:root {
    --background-color: #222;
    --text-fg1-color: #f4f4f4;
    --text-fg2-color: #101010;
    --button-bg1-color: #eeeeee;
    --card-bg1-color: #333;
    --accent-color: #4CAF50;
    --accent-color-hover: #45a049;
}
