:root {
    color: var(--text-fg1-color);
    --review-graph-background: var(--card-bg1-color);
    --review-graph-color: #ff9800;
    --avatar-border-color: gray;
    --avatar-background-color: darkgray;
    --review-graph-max-width: 300px;
    --central-section-max-width: 1000px;
    --graph-spacing: 20px;
    --small-spacing: 3px;
    --element-spacing: 10px;
    --big-border-radius: 20px;
    --small-border-radius: 10px;
}

p {
    margin: 0;
    font-size: 16px;
}

h3 {
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 20px;
    margin-top: 70px;
    color: var(--text-fg1-color);
    font-weight: normal;
}

.star {
    width: 50px;
    height: 50px;
    /*
    border-radius: 50%;
    border: gray solid 2px;
    background: darkgray url("Images/avatar.png") no-repeat;
    background-size: cover;
    */
}

.half {
    width: 50%;
}

.side-bar {
    margin-top: var(--element-spacing);
    float: left;
    width: 10%;
}

.middle-bar {
    margin-top: var(--element-spacing);
    float: left;
    width: 80%;
}

.right-bar {
    margin-top: var(--element-spacing);
    text-align: right;
    width: 10%;
}

.bar-container {
    width: 100%;
    background-color: var(--review-graph-background);
    border-radius: var(--small-border-radius);
    text-align: center;
}

.bar-5 {
    width: 60%;
}

.bar-4 {
    width: 30%;
}

.bar-3 {
    width: 10%;
}

.bar-2 {
    width: 4%;
}

.bar-1 {
    width: 15%;
}

.bar {
    background-color: var(--review-graph-color);
    border-radius: var(--small-border-radius) var(--small-spacing) var(--small-spacing) var(--small-border-radius);

    height: 18px;
}

.graph-info {
    margin-right: var(--graph-spacing);
    gap: 0;

    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: end;
}

.graph-info div {
    gap: var(--element-spacing);

    display: flex;
    flex-direction: column;
    align-items: start;
}

.graph {
    margin-right: var(--graph-spacing);
    max-width: var(--review-graph-max-width);
}

.review-content {
    margin: var(--graph-spacing);
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-graph {
    margin: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.review-comments {
    gap: var(--graph-spacing);
    margin-top: 50px;
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.review-avatar {
    background: var(--avatar-background-color) url("../html/Images/avatar.png") no-repeat;
    border: var(--avatar-border-color) solid var(--small-spacing);
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.review div {
    gap: var(--element-spacing);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.review {
    border-radius: var(--big-border-radius);
    background-color: var(--card-bg1-color);
    padding: 18px;
}

.central-section {
    max-width: var(--central-section-max-width);
    margin: 0 auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
}