<div id="foot">
    <div id="log">
        <img src="/assets/Images/Logo.webp">
    </div>
    <div id="info">
        <h3>Más información sobre nosotros</h3>
        <p>
            En <strong>Salon Eleggnce</strong>,nos especializamos en ofrecer servicios de peluquería y estética
            de alta calidad para toda la familia. Con más de 15 años de experiencia, nuestro compromiso es
            realzar tu belleza natural y proporcionarte una experiencia única en cada visita.
        </p>
    </div>
    <h3>Síguenos en nuestras redes sociales</h3>
    <div id="social">
        <img src="/assets/Images/Instagram_icon.png" onclick='window.location.href="https://www.instagram.com/saloneleggnce/"'>
        <img src="/assets/Images/twitter_icon.png">
        <img src="/assets/Images/Facebook_icon.png">
    </div>
    <div id="legal-info">
        <p>&copy; 2025 Salon Eleggnce S.A. Todos los derechos reservados. | <a routerLink="/details">Información de contacto</a> | <a routerLink="/policies">Política de Privacidad</a> | <a routerLink="/policies">Términos y Condiciones</a></p>
    </div>
</div>
