<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link rel="icon" href="../../../../angular/src/assets/Images/icono.ico" type="image/x-icon">
    <script src="../../../js/contentLoader.js"></script>
    <script src="../../../js/menu.js"></script>
    <link rel="stylesheet" href="../../styles/light-theme.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="../../styles/dark-theme.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="../../styles/details.css">
    <link rel="stylesheet" href="../../styles/common.css">
</head>
<body>
<div id="container">
    <header id="header"></header>

    <nav id="nav"></nav>

    <div id="main"></div>

    <div id="secondary">
        <h2>Conoce a nuestros trabajadores</h2>
        <div class="trabajadores">
        </div>
    </div>

    <footer id="foot"></footer>

    <div id="menu"></div>
</div>

<script src="../../../js/contentLoader.js"></script>
<script src="../../../js/menu.js"></script>
<script src="../../../js/details.js"></script>
<script src="../../../js/common.js"></script>
</body>
</html>