.Servicios {
    padding-left: 10%;
}

.container_service-card {
    width: 100%;
    height: 50%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-left: 0;
    margin: 0 auto;
}

.service-content {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    position: relative;
    width: 300px;
    height: 200px;
    background-size: cover;
}

.Precio_duracion {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
}

.reserve-button {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    color: black;
    background-color: #e1e1e1;
    border-color: #e1e1e1;
}

.reserve-button:hover {
    color: black;
    background-color: #b6b6b6;
}
