<div class="grid-container">
    <img src="https://i.ytimg.com/vi/C2Vnw5vkju0/maxresdefault.jpg" alt="Corte mujer 1">
    <img src="https://i.ytimg.com/vi/C2Vnw5vkju0/maxresdefault.jpg" alt="Corte mujer 2">
    <img src="https://i.ytimg.com/vi/C2Vnw5vkju0/maxresdefault.jpg" alt="Corte mujer 3">
    <img src="https://i.ytimg.com/vi/C2Vnw5vkju0/maxresdefault.jpg" alt="Corte mujer 4">
    <img src="https://i.ytimg.com/vi/C2Vnw5vkju0/maxresdefault.jpg" alt="Corte mujer 5">
    <img src="https://i.ytimg.com/vi/C2Vnw5vkju0/maxresdefault.jpg" alt="Corte mujer 6">
</div>