<div class="overlay" id="overlay" onclick="toggleMenu()"></div>
<div class="menu-container" id="menuContainer">
  <div class="perfil" onclick="toggleMenu()">
    <img src="../Images/profile.png" alt="Perfil">
  </div>
  <div class="menu-item" onclick="window.location.href='../../html/profile/index.html';">Mi Perfil</div>
  <div class="menu-item" onclick="window.location.href='../../html/appointments/index.html';">Mis Citas</div>
  <div class="menu-item" onclick="window.location.href='../../html/policies/index.html';">Nuestras Políticas</div>
  <div class="menu-item" onclick="window.location.href='../../html/faq/index.html';">Preguntas Frecuentes</div>
  <div class="menu-item" onclick="logout()">Cerrar Sesión</div>
</div>
