<head>
    <meta charset="UTF-8">
    <!-- Inter Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    >

    <link rel="stylesheet" href="../styles/light-theme.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="../styles/dark-theme.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/landing-page.css">
</head>
<body style="background-color: var(--background-color)">
    <article class="service-card">
        <h2 class="service-title">Corte Degradado</h2>
        <div class="service-content">
            <section class="part-service-content">
                <p class="service-price">13,00&euro;</p>
                <p class="service-time"><time datetime="PT30M">30 minutos</time></p>
            </section>
            <button class="reserve-button">Reservar</button>
        </div>
    </article>
</body>