<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Inter Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    >

    <link rel="stylesheet" href="../../styles/light-theme.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="../../styles/dark-theme.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/registration.css">
    <title>Registrarse</title>
    <link rel="icon" href="../Images/icono.ico" type="image/x-icon">
</head>
<body>
<div class="central-section">
    <header>
        <h1 class="text-section-title-heading">Crea tu cuenta</h1>
        <h2 class="text-section-subtitle-heading">Ingresa tus datos para continuar</h2>
    </header>
    <form id="registration-form" method="post">
        <div class="form-field">
            <input id="name" type="text" name="username" placeholder="username"
                   title="Nombre de usuario (entre 4 y 60 caracteres)" minlength="4" maxlength="60" required>
            <label for="name">Nombre de usuario*</label>
        </div>
        <div class="form-field">
            <input id="email" type="email" name="email" placeholder="you@domain.com"
                   title="Email" required>
            <label for="email">Email*</label>
        </div>
        <div class="form-field">
            <input id="password" type="password" name="password" placeholder=""
                   title="Contraseña" minlength="6" maxlength="255" required>
            <label for="password">Contraseña*</label>
        </div>
        <div class="form-field">
            <input id="phone" pattern="[0-9]{9}" type="tel" name="phone" placeholder="123456789"
                   title="Número de teléfono" required>
            <label for="phone">Número de teléfono*</label>
        </div>
        <button class="form-button text-submit-form-button" type="submit">Crear cuenta</button>
    </form>
    <section class="register-callout">
        <strong>¿Ya tienes una cuenta?</strong>
        <wbr>
        <a href="login-page.html">Iniciar sesión</a>
    </section>
</div>
<footer>
    <p>
        Al crear una cuenta estás aceptando nuestros
        <a href="../policies/index.html">Términos y Condiciones</a>
        así como nuestro
        <a href="../policies/index.html">Aviso de Privacidad</a>
    </p>
</footer>
<script>
    function inputListener(input) {
        return function () {
            if (!input.validity.valid) {
                //input.setCustomValidity(message);
                input.reportValidity();
            }
        };
    }

    let nameInput = document.getElementById("name");
    let emailInput = document.getElementById("email");
    let passwordInput = document.getElementById("password");
    let phoneInput = document.getElementById("phone");
    nameInput.addEventListener('change', inputListener(nameInput));
    emailInput.addEventListener('change', inputListener(emailInput));
    passwordInput.addEventListener('change', inputListener( passwordInput));
    phoneInput.addEventListener('change', inputListener(phoneInput));

    document.getElementById('registration-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Evita la recarga automática

        localStorage.setItem('isLogged', 'true'); // Usuario autenticado
        window.location.href = '../home/index.html'; // Redireccionar a la página de inicio
    });
</script>
</body>
</html>