<div class="overlay" (click)="toggleMenu()" *ngIf="isOpen"></div>
<div class="menu-container" [ngClass]="{'active': isOpen}">
  <div class="perfil">
      <img src="/angular/src/assets/Images/profile.png" alt="Perfil" (click)="toggleMenu()">
    </div>
    <div class="menu-item" onclick="window.location.href='../../../index.html';">Mi Perfil</div>
    <div class="menu-item" onclick="window.location.href='../../../index.html';">Mis Citas</div>
    <div class="menu-item" onclick="window.location.href='../../../index.html';">Nuestras Políticas</div>
    <div class="menu-item" onclick="window.location.href='../../../index.html';">Preguntas Frecuentes</div>
    <div class="menu-item" onclick="logout()">Cerrar Sesión</div>
</div>
