<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil de Usuario</title>
    <script src="../../common_html/contentLoader.js"></script>
    <script src="../../common_html/menu.js"></script>
    <link rel="stylesheet" href="../../styles/profile.css">
    <link rel="stylesheet" href="../../styles/common.css">
</head>
<body>
<header id="header" xlu-include-file="../../common_html/header.html">

</header>

<nav id="nav" xlu-include-file="../../common_html/nav.html">

</nav>

<div id="menu" xlu-include-file="../../common_html/menu.html" >

</div>

<div id="main_section" xlu-include-file="main.html">

</div>

<footer id="foot" xlu-include-file="../../common_html/footer.html">

</footer>

<script>
    xLuIncludeFile()
    toggleMenu()
</script>

</body>
</html>