<main class="profile-container">
    <section class="profile-info">
        <div class="profile-pic-large">
            <img src="public/external/ellipse55711.png" alt="Foto de perfil">
        </div>
        <h1>Nombre de Usuario</h1>
    </section>

    <section class="profile-details">
        <div class="detail">
            <label>Nombre:</label>
            <span>Juan Pérez</span>
            <button class="btn">Cambiar</button>
        </div>
        <div class="detail">
            <label>Email:</label>
            <span>correo_ejemplo@gmail.com</span>
            <button class="btn">Cambiar</button>
        </div>
        <div class="detail">
            <label>Teléfono:</label>
            <span>987 654 321</span>
            <button class="btn">Cambiar</button>
        </div>
        <div class="detail">
            <label>Contraseña:</label>
            <span>************</span>
            <button class="btn">Cambiar</button>
        </div>
    </section>

    <section class="profile-actions">
        <button class="btn delete_account">Eliminar cuenta</button>
    </section>
</main>