<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mis citas</title>
    <script src="../../../../js/contentLoader.js"></script>
    <script src="../../../../js/menu.js"></script>
    <link rel="stylesheet" href="../../styles/light-theme.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="../../styles/dark-theme.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="../../styles/appointments.css">
    <link rel="stylesheet" href="../../styles/common.css">
</head>
<body>

<header id="header" xlu-include-file="../../common_html/header.html"> </header>

<nav id="nav" xlu-include-file="../../common_html/nav.html"> </nav>

<div id="main_section" xlu-include-file="main.html"> </div>

<footer id="foot" xlu-include-file="../../common_html/footer.html"> </footer>

<div id="menu" xlu-include-file="../../common_html/menu.html" > </div>

<script>
    function cancelarCita(btn) {
        let cita = btn.parentElement;
        cita.remove(); // Elimina la cita
    }
    xLuIncludeFile()
    toggleMenu()
</script>

</body>
</html>