<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="icon" href="../Images/icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../styles/light-theme.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="../../styles/dark-theme.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="../../styles/profile.css">
    <link rel="stylesheet" href="../../styles/common.css">
</head>
<body>
<div id="container">
    <header id="header">

    </header>

    <nav id="nav">

    </nav>

    <main>
        <div id="main_section"> </div>
    </main>

    <div id="menu"> </div>
</div>

<script src="../../../../js/menu.js"></script>
<script src="../../../../js/common.js"></script>
<script src="../../../../js/profile.js"></script>
</body>
</html>