<main class="container">
    <h2>Mis Citas</h2>
        <div class="cita">
            <span>Perfilar barba - 12 de marzo - 10:00</span>
            <button class="cancelar">Cancelar</button>
        </div>
        <div class="cita">
            <span>Tinte - 20 de marzo - 14:00 </span>
            <button class="cancelar">Cancelar</button>
        </div>
    <h2>Citas Anteriores</h2>
    <div class="cita">
        <span>Perfilar barba - 18 de febrero - 11:00</span>
    </div>
    <div class="cita">
        <span>Corte degradado + barba - 22 de enero - 12:00</span>
    </div>
    <div class="cita">
        <span>Perfilar barba - 10 de enero - 14:00</span>
    </div>
    <div class="cita">
        <span>Tinte - 3 de enero - 9:00</span>
    </div>
</main>