<section class="reviews-graph">
    <div class="half graph-info">
        <div>
            <p>4,1 ⭐</p>
            <p>254 reseñas</p>
        </div>
    </div>
    <div class="half graph">
        <div class="row">
            <div class="side-bar">
                <div>5</div>
            </div>
            <div class="middle-bar">
                <div class="bar-container">
                    <div class="bar-5 bar"></div>
                </div>
            </div>
            <div class="side-bar right-bar">
                <div>150</div>
            </div>
        </div>
        <div class="row">
            <div class="side-bar">
                <div>4</div>
            </div>
            <div class="middle-bar">
                <div class="bar-container">
                    <div class="bar-4 bar"></div>
                </div>
            </div>
            <div class="side-bar right-bar">
                <div>63</div>
            </div>
        </div>
        <div class="row">
            <div class="side-bar">
                <div>3</div>
            </div>
            <div class="middle-bar">
                <div class="bar-container">
                    <div class="bar-3 bar"></div>
                </div>
            </div>
            <div class="side-bar right-bar">
                <div>15</div>
            </div>
        </div>
        <div class="row">
            <div class="side-bar">
                <div>2</div>
            </div>
            <div class="middle-bar">
                <div class="bar-container">
                    <div class="bar-2 bar"></div>
                </div>
            </div>
            <div class="side-bar right-bar">
                <div>6</div>
            </div>
        </div>
        <div class="row">
            <div class="side-bar">
                <div>1</div>
            </div>
            <div class="middle-bar">
                <div class="bar-container">
                    <div class="bar-1 bar"></div>
                </div>
            </div>
            <div class="side-bar right-bar">
                <div>20</div>
            </div>
        </div>
    </div>
</section>