<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="main">
        <img src="../Images/Ubicacion.jpg" width="200" height="200">
        <div>
            <p>Dirección</p>
            <p>Número de teléfono</p>
            <p>Correo electrónico</p>
        </div>
    </div>

    <div id="secundary">
        <h2>Conoce a nuestros trabajadores</h2>
        <div class="trabajadores">
            <div class="trabajador" id="trabajador1">
                <img src="../Images/profile.png" width="100" height="100">
                <p>Text</p>
            </div>
            <div class="trabajador" id="trabajador2">
                <img src="../Images/profile.png" width="100" height="100">
                <p>Text</p>
            </div>
            <div class="trabajador" id="trabajador3">
                <img src="../Images/profile.png" width="100" height="100">
                <p>Text</p>
            </div>
        </div>
    </div>


</body>
</html>